body {
    background-color: lightgray;
}
.wrapper {
    width: 80rem;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
h1.page-header, .form-inline {
    text-align: center;
}