<!doctype html>
<html ng-app="tasksApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/style.css">
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="app/js/tasksModule.js"></script>
    <script type="text/javascript" src="app/js/tasksController.js"></script>
</head>
<body ng-controller="tasksController">
<div class="wrapper">
    <header>
        <div id="logo">
            <a href="/"><img src="app/img/logo.png" alt="Logicify" title="Logicify" /></a>
        </div>
        <div class="content-head">
            <h1 class="page-header"> Список дел </h1>
            <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="text" placeholder = "Что сделать?" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" ng-click="addItem(text)">Добавить</button>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="panel">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Что нужно сделать</th>
                <th>Выполнение</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="emptyItems">
                <td class="empty-items" colspan="3">Список дел пуст</td>
            </tr>
            <tr class="item" ng-repeat="item in items" ng-class="item.done ? 'check' : ''">
                <td>{{$index + 1}}</td>
                <td>{{item.task}}</td>
                <td>
                    <input type="checkbox" ng-model="item.done" />
                    <div class="box">
                        <a ng-click="removeItem(item)"><i class="glyphicon-trash"></i> Удалить</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="statistics">
            <hr/>
            <button class="btn btn-default" ng-click="clearAll()">Удалить все</button>
            <h3>Свод:</h3>
            <p>Всего дел нужно сделать: <span class="itog" ng-bind="allTasks"></span></p>
            <p>Уже сделано: <span class="itog" ng-bind="doneTasks"></span></p>
            <p>Еще нужно сделать: <span class="itog" ng-bind="notDoneTasks"></span></p>
        </div>
    </div>
    <footer>
        <p id="copyright">&copy;&nbsp;Logicify, 2015</p>
    </footer>
</div>
</body>
</html>