body {
    background-color: lightgray;
}
hr {
    margin-top: 0 !important;
}
h1, .form-inline {
    text-align: center;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.wrapper {
    width: 80rem;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
/*-------- Header ----------*/
#logo {
    float: left;
    margin: 5.1rem 2rem;
}
.logo {
    width: 26.1rem;
    margin: 2rem auto;
}
.content-head {
    float: left;
    width: 60%;
}
/*--------- Content ----------*/
.empty-items {
    text-align: center;
}
input[type="checkbox"] {
    cursor: pointer;
}
.check {
    background-color: #b2dba1 !important;
    -webkit-transition: background-color ease-in-out .15s;
    -o-transition: background-color ease-in-out .15s;
    transition: background-color ease-in-out .15s;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
.box {
    float: right;
    visibility: hidden;
}
.item:hover .box {
    visibility: visible;
}
#edit-control {
    display: block;
    margin-top: 0.5rem;
}
.total {
    font-size: 1.6rem;
    font-weight: bold;
}
/*--------- Footer ---------*/
#copyright {
    text-align: center;
    font-size: 1.2rem;
}