<header>
    <div class="logo center-block">
        <a href="#/"><img src="app/img/logo.png" alt="Logicify" title="Logicify" /></a>
    </div>
</header>
<section>
    <!--<h1 translate="yes">Login</h1>-->
    <hr/>
    <div ng-class="{'show': errAuth}">
        <p class="error" ng-bind="errAuth|translate"></p>
    </div>
    <form class="form-inline" name="loginform" novalidate="">
        <label for="login">E-mail:</label>
        <input id="login" name="login" type="email" class="form-control" ng-model="email" required=""/>
        <label for="password" translate="yes">Password:</label>
        <input id="password" name="password" type="password" class="form-control" ng-model="password" required=""/>
        <button type="submit" class="btn btn-default" ng-click="signIn()" ng-disabled="loginform.$invalid || loginform.$pristine" translate="yes">Login</button>
    </form>
    <div class="sign-up text-center">
        <a ui-sref="SignUp">
            <i class="glyphicon glyphicon-user"></i>&nbsp;
            {{'Sign Up'|translate}}
        </a>
    </div>
</section>