<header>
    <div class="logo center-block">
        <a href="#/"><img src="app/img/logo.png" alt="Logicify" title="Logicify" /></a>
    </div>
</header>
<section>
    <h1 translate="yes">Registration Form</h1>
    <hr/>
    <form name="signupform" novalidate="" class="form-registration form-horizontal center-block">
        <div class="form-group">
            <label class="col-sm-5 control-label" for="name" translate="yes">* First Name: </label>
            <div class="col-sm-6">
                <input class="form-control"
                       type="text"
                       id="name"
                       name="name"
                       ng-minlength="3"
                       ng-maxlength="25"
                       ng-model="name"
                       ng-model-options="{updateOn: 'blur'}"
                       required=""/>
            </div>
        </div>
        <div class="error">
            <p ng-show="signupform.name.$dirty && signupform.name.$invalid" translate="yes">The first name must be between 3 and 25 characters!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="lastname" translate="yes">Last Name: </label>
            <div class="col-sm-6">
                <input class="form-control"
                       type="text"
                       id="lastname"
                       name="lastname"
                       ng-minlength="3"
                       ng-maxlength="50"
                       ng-model="lastname"
                       ng-model-options="{updateOn: 'blur'}" />
            </div>
        </div>
        <div class="error">
            <p ng-show="signupform.lastname.$dirty && signupform.lastname.$invalid" translate="yes">The last name must be between 3 and 50 characters!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="birthday" translate="yes">Birthday: </label>
            <div class="col-sm-6">
                <p class="input-group" ng-click="open($event)">
                    <input id="birthday"
                           type="text"
                           class="form-control"
                           name="birthday"
                           datepicker-popup="{{format}}"
                           ng-model="birthday"
                           is-open="opened"
                           datepicker-options="dateOptions"
                           close-text="Exit"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="login">* E-mail:</label>
            <div class="col-sm-6">
                <input id="login"
                       name="email"
                       type="email"
                       class="form-control"
                       ng-model="email"
                       ng-model-options="{updateOn: 'blur'}"
                       required=""/>
            </div>
        </div>
        <div class="error">
            <p ng-show="signupform.email.$dirty && signupform.email.$invalid" translate="yes">Invalid e-mail!</p>
            <p ng-show="notUniqueEmail">This user is already there!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="password" translate="yes">* Password:</label>
            <div class="col-sm-6">
                <input id="password"
                       type="password"
                       class="form-control"
                       ng-model="password"
                       ng-model-options="{updateOn: 'blur'}"
                       name="password"
                       ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,30}$/" />
            </div>
        </div>
        <div class="error">
            <p ng-show="signupform.password.$error.pattern" translate="yes">Invalid password!<br/>Password must be between 6 and 30 characters and only English letters and numbers</p>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="confirm-password" translate="yes">* Confirm password:</label>
            <div class="col-sm-6">
                <input id="confirm-password"
                       type="password"
                       class="form-control"
                       ng-model="confirmPassword"
                       ng-model-options="{updateOn: 'blur'}"
                       name="confirmPassword"
                       ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,30}$/"
                       required=""/>
            </div>
        </div>
        <div class="error">
            <p ng-show="signupform.confirmPassword.$dirty && confirmPasswordInvalid" translate="yes">Passwords do not match!</p>
        </div>
        <div class="form-group text-center">
            <p>*&nbsp;
                <input type="checkbox"
                       name="terms"
                       ng-model="isTerms"/>
                <a ng-click="terms($event)" translate="yes">Terms of use</a>
            </p>
            <br/>
            <p translate="yes">* - Fields must be filled</p>
        </div>
        <div ui-view></div>
        <hr/>
        <div class="text-center">
            <button id="signUp"
                    type="submit"
                    class="btn btn-default"
                    ng-click="signUp()"
                    ng-disabled="signupform.$pristine || signupform.$invalid || confirmPasswordInvalid || notUniqueEmail || !isTerms"
                    translate="yes">Confirm</button>
            <a class="btn btn-default" ui-sref="Auth">
                <i class="glyphicon glyphicon-backward"></i>&nbsp;
                {{'Back'|translate}}
            </a>
        </div>
    </form>
</section>