<header>
    <div class="logo center-block">
        <a href="#/"><img src="app/img/logo.png" alt="Logicify" title="Logicify" /></a>
    </div>
</header>
<section>
    <h1>Форма регистрации</h1>
    <hr/>
    <form name="signupform" novalidate class="form-registration form-horizontal center-block">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="name">* Имя: </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="name" name="name" ng-minlength="3" ng-maxlength="25" ng-model="name" ui-event="{blur : 'nameValidator()'}" required/>
            </div>
        </div>
        <div class="error">
            <p ng-show="nameInvalid">Имя должно быть от 3 до 25 символов!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="lastname">Фамилия: </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="lastname" name="lastname" ng-minlength="3" ng-maxlength="50" ng-model="lastname" ui-event="{blur : 'lastnameValidator()'}" />
            </div>
        </div>
        <div class="error">
            <p ng-show="lastnameInvalid">Фамилия должна быть от 3 до 50 символов!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="birthday">Дата рождения: </label>
            <div class="col-sm-6">
                <p class="input-group" ng-click="open($event)">
                    <input id="birthday" type="text" class="form-control" name="birthday" datepicker-popup="{{format}}" ng-model="birthday" is-open="opened" datepicker-options="dateOptions" close-text="Exit"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="login">* E-mail:</label>
            <div class="col-sm-6">
                <input id="login" type="email" class="form-control" ng-model="email" name="email" ui-event="{blur : 'emailValidator()'}" required/>
            </div>
        </div>
        <div class="error">
            <p ng-show="emailInvalid">Не корректный e-mail!</p>
            <p ng-show="notUniqueUser">Такой пользователь уже есть!</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password">* Пароль:</label>
            <div class="col-sm-6">
                <input id="password" type="text" class="form-control" ng-model="password" name="password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,30}$/" ui-event="{blur : 'passwordValidator()'}" />
            </div>
        </div>
        <div class="error">
            <p ng-show="passwordInvalid">Не корректный пароль!<br/>Пароль должен быть от 6 до 30 символов и содержать только латинские буквы и цифры</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="confirm-password">* Пароль еще раз:</label>
            <div class="col-sm-6">
                <input id="confirm-password" type="text" class="form-control" ng-model="confirmPassword" name="confirmPassword" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,30}$/" ui-event="{blur : 'confirmPasswordValidator()'}" required/>
            </div>
        </div>
        <div class="error">
            <p ng-show="confirmPasswordInvalid">Пароли не совпадают!</p>
        </div>
        <hr/>
        <div class="text-center">
            <button id="signUp" type="submit" class="btn btn-default" ng-click="signUp()" ng-disabled="signupform.$pristine || signupform.$invalid || confirmPasswordInvalid || notUniqueUser">Зарегистрироваться</button>
        </div>
    </form>
</section>